Repository sec2pri/mapping_preprocessing, pull requests merged in 2024-02, with the labels that each got.

#100 Added if clause to workflows (ChEBI, HGNC, NCBI)
  .github/workflows/chebi.yml
  .github/workflows/hgnc.yml
  .github/workflows/ncbi.yml
Labels: GitHub Action

#98 HMDB release check and test
  .github/workflows/hmdb.yml
  datasources/hmdb/config
Labels: GitHub Action

#110 Retrieve processed files as artifacts
  .github/ISSUE_TEMPLATE/ISSUE_FAIL.md
  .github/ISSUE_TEMPLATE/ISSUE_UPDATE.md
  .github/workflows/chebi.yml
  .github/workflows/hgnc.yml
  .github/workflows/hmdb.yml
  .github/workflows/ncbi.yml
Labels: enhancement, GitHub Action

#118 Update README.md
  README.md
Labels: documentation

#119 Remove unnecessary diff workflow echoes
  .github/workflows/chebi.yml
  .github/workflows/hgnc.yml
  .github/workflows/hmdb.yml
  .github/workflows/ncbi.yml
Labels: documentation, enhancement, GitHub Action
